body{
	overflow: auto;
}
body,p,pre,ul,li,ol,dl,dt,dd,h1,form,input,h3{
	margin: 0;
	padding:0;
    list-style: none;
}
.mjh_mianban{
	width: 953px;
	height: 630px;
	border:1px solid #10c8f0;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -375px;
	margin-left: -476px;
	background: #EFEFEF;
}
.hmq_mask{
	width: 100%;
	position:fixed;
	top: 0;
	left: 0;
	height:100%;
	background: #000;
	op acity: 0.8;
}
.hmq_jinji{
	width: 560px;
	height:189px;
	background: #10C8F0;
	position: absolute;
	top: -104px;
	margin-left: 196px;
	box-shadow: 1px 1px 18px 1px #195c6d;
	border:1px solid #76706F;
}
.hmq_jinji span{
	display: block;
	color: white;
	font-family: 微软雅黑;
}
.hmq_nin{
	font-size: 24px;
	font-weight: bold;
	margin-left: 27px;
	margin-top:8px;
	
}
.hmq_jin{
	margin-left: 160px;
	font-size: 48px;
	position: absolute;
	top: 45px;
	font-weight: bold;

}
.hmq_interview{
	font-size: 32px;
	position: absolute;
	top: 108px;
	left: 190px;
	font-family: San Francsico;
	font-weight: bold;
}
.hmq_join{
	font-size: 24px;
	position: absolute;
	right: 35px;
	bottom: 10px;
	font-family: 微软雅黑;
	font-weight: bold;
}
.hmq_hang1,.hmq_hang2,.hmq_hang3{
	width:680px;
	height: 50px;
	position: absolute;
	top:165px;
	left: 143px;
}
.hmq_hang2{
	margin-top: 100px;
}
.hmq_hang3{
	margin-top: 200px;
}
.hmq_date{
	display: inline-block;
	width: 146px;
	height: 44px;
	text-align: center;
	line-height: 44px;
	background: url(../css/image/sly_03.png) no-repeat;
	background-size: 146px 44px;
	color: #726028;
	font-size: 18px;
	float: left;
	margin-top: 3px;
}
.hmq_datey,.hmq_datem{
	float: left;
	width: 233px;
	height: 48px;
	border: #e7e7e7 solid 1px;
	background: #fff;
	display: inline-block;
	margin-left: 24px;
	position: relative;
	
};
.hmq_datem{
	margin-left: 30px;
}
.sanjiao{
	position: absolute;
	right: 10px;
	top: 15px;
}
.hmq_dates{
	float: left;
	width: 498px;
	height: 48px;
	border: #e7e7e7 solid 1px;
	background: #fff;
	display: inline-block;
	margin-left: 24px;
	position: relative;
	font-size: 18px;
	color: #2e2e2e;
	
}
.wxm-mfootl{
	width: 613px;
	height:32px;
	background: #006648;
	position: absolute;
	left:77px;
	bottom:-32px;
	box-shadow: 3px 3px 3px #005D66;

}
.wxm-mfoot2{
	width: 306px;
	height:22px;
	position: absolute;
	left:533px;bottom:-22px;
}
.wxm-mfoot2 img{
	width: 306px;
	height: 62px;
}
.hmq_shi{
	font-size: 18px;
	color: #2e2e2e;
}
.mjh-send{
	position: absolute;
	right: 145px;
	bottom: 70px;
}


input{
	border: 0;
	background-color: transparent;
}
.sly-yellow,.sly-blue,.sly-green{
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 39px;
	font-family: "微软雅黑";
}
/*查看简答题按钮*/
.wwj-checkjdt{
	width: 269px;
	height: 57px;
	background-image: url(../image/btn-huizong.png);
	background-position: 0 -505px;
	background-repeat: no-repeat;
}
/*确定按钮，蓝色*/
.wwj-okblue{
	width: 255px;
	height: 56px;
	background-image: url(../image/btn-huizong.png);
	background-position: 0 -618px;
	background-repeat: no-repeat;
}
/*确定按钮，绿色*/
.wwj-okgreen{
	width: 260px;
	height: 57px;
	background-image: url(../image/btn-huizong.png);
	background-position: 0 -562px;
	background-repeat: no-repeat;
}
/*转发简历*/
.fjy-relay{background:url(../image/btn-huizong.png);
			background-position:0 -336px;
			width:270px;
			height:57px;
}
/*下载简历*/
.fjy-down{background:url(../image/btn-huizong.png);
			background-position:0 -393px;
			width:258px;
			height:55px;
}
/*发送邀请*/
.fjy-send{background:url(../image/btn-huizong.png);
		 background-position:0 -449px;
		  width:255px;
		  height:55px;
}
.zlf_queren{
	width:255px;
	height:56px;
	background: url(../image/btn-huizong.png) 0 0;
}
.zlf_later{
	width:359px;
	height:56px;
	background: url(../image/btn-huizong.png) 0  -56px;
}
.zlf_start{
	width:359px;
	height:56px;
	background: url(../image/btn-huizong.png) 0 -112px;
}
.zxm-close{
	width:255px;
	height:56px;
	background: url(../image/btn-huizong.png) 0 -168px;
}
.zxm-submit{
	width:255px;
	height:56px;
	background: url(../image/btn-huizong.png) 0  -224px;
}
.zxm-save{
	width:255px;
	height:56px;
	background: url(../image/btn-huizong.png) 0 -336px;
}
.sly-yellow{
	width: 133px;
	height: 39px;
	background: url(../image/btn-huizong.png )-360px 0px;
}
.sly-blue{
	width: 133px;
	height: 39px;
	background: url(../image/btn-huizong.png ) -360px -39px;
}
.sly-green{
	width: 133px;
	height: 39px;
	background: url(../image/btn-huizong.png ) -360px -78px;
}
/*//查看入职邀请   点击之后的*/
.yyb-checkruzhi{
	border:0;
	padding:0;
	color: #343434;
	font-size: 16px;
	width:143px;height:51px;
	padding-bottom:13px;
	padding-right:4px;
	background:url(../image/yyb-checkruzhi.png);
}
/*私聊页面的发送按钮*/
.yyb-send{
	border:0;
	padding:0;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 55px;
	width:198px;height:55px;
	background:url(../image/yyb-send.png);
}
/*私聊页面的发送按钮   点击之后的*/
.yyb-sendclick{
	border:0;
	padding:0;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 55px;
	width:198px;height:55px;
	background:url(../image/yyb-sendclick.png);
}

.mjh-biaot{
	width:600px;height:40px;line-height: 40px;
	border-bottom: 1px dashed #ccc;
	font-size: 24px;color:#606360;
	margin:0 auto;
	margin-top: 100px;
	font-weight: bold;
}
.mjh-wt,.mjh-wt-t{
	font-size: 18px;line-height: 42px;
	width:600px;margin:0 auto;
	font-family: PingFangSC;
	color:#606360;
}
.mjh-wt{margin-top: 10px;}
.mjh-send{
	position: absolute;
	right: 145px;
	bottom: 70px;
}
.mjh-chakan{
	position: absolute;
	left: 145px;
	bottom: 45px;
	width:266px;height:83px;
	background:url(../image/mjh-chakan.png) no-repeat;
}



*{margin:0;padding:0;}
 ul,ol{list-style:none;}
a{text-decoration:none;}
body{background:#fff;}
*{font-family:"Microsoft YaHei",sans-serif;}
img{border:none;}

.zj-bodybox{
	width: 100%;
	height: auto;
}
.zj-body{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
.zj-title{
	width: 1210px;
	height: 176px;
	line-height: 166px;
	background: url(../image/zj-biaoti.png)no-repeat;
	color: #606060;
	font-size: 36px;
	text-align: center;
}
.zj-titletext{
	width: 1200px;
	height: 88px;
	padding-top: 69px;
	border-bottom: 1px #999999 solid;
	color: #606060;
	font-size: 36px;
}
.zj-bufen{
	width: 1200px;
	height: auto;
	margin: 57px 0 40px 0;
	color: #606060;
	font-size: 24px;
}
.zj-bufen span{
	color: #606060;
	font-size: 24px;
}
.zj-timu span{
	display: block;
	width: 1200px;
	margin: 40px 0 40px 34px;
	color: #606060;
	font-size: 20px;
	position: relative;
}
.zj-timu li{
	margin: 40px 0 40px 60px;
	color: #606060;
	font-size: 16px;
}
.zj-panduan{
	float: left;
	margin: 0 10px;
}
.zj-dui{
	float: left;
	margin: 0 10px;
	width: 37px;height: 26px;
	background:url(../image/zj-dui.png);
}
.zj-cuo{
	float: left;
	margin: 0 10px;
	width: 26px;height: 26px;
	background:url(../image/zj-cuo.png);
}
#zj-huida{
	width: 1166px;
	height: 88px;
	background: url(../image/zj-daankuang.png);
	border: none;
	padding: 20px;
	color: #606060;
	font-size: 16px;
	
}
.zj-btbox{
	width: 1200px;
	height: 58px;
	text-align: center;
}
#zj-baocunshuru{
	margin: 0 auto;
	width: 200px;
	height: 58px;
	background: url(../image/zj-bt.png);
	border: none;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
}
.zj-jiandatimu{
	margin: 20px 0 20px 50px;
	color: #606060;
	font-size: 20px;
}
.zj-fujianti{
	margin: 20px 0 20px 50px;
	color: #606060;
	font-size: 16px;
}
.zj-timebox{
	width: 1200px;
	margin: 120px 0 20px 0;
}
.zj-time{
	margin: 40px 0;
	color: #606060;
	font-size: 24px;
}
.zj-jietubox{
	width: 1200px;
	height: 273px;
	margin-top: 30px;
}
.zj-zuo,.zj-you{
	display: inline-block;
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background:#2a77f6;
	border-radius: 50%;
	color: #fff;
	font-size: 36px;
	text-align: center;
	margin-top: 115px;
}
.zj-jietu{
	float: left;
	width: 262px;
	height: 269px;
	border: 2px #3171f7 solid;
	margin: 0 5px;
	border-radius: 8px 8px 0 0;
	box-shadow: 0 0 3px 1px #3171f7;
}
.zj-jietu img{
	width: 100%;
	height: 100%;
}
