.fxs-bj{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.8;
}
.fxs-czmm{
	width: 950px;
	height: 600px;
	margin-top: 5%;
	position:absolute;
	top: 50%;
	left: 50%;
	margin-left:-475px;
	margin-top:-300px;
}
.fxs-czmm-top{
	width: 560px;
	height: 190px;
	position: absolute;
	right: 0;
	top: -30px;
	margin-right:200px;
	background:#10c8f0;
	box-shadow: 0 0 9px #222;
	z-index: 6;
}
.fxs-p1{
	font-size: 48px;
	color: #fff;
	font-weight:bold;
	font-family:[JHRuHeiZhong];
	text-align: center;
	margin:0;
	margin-top: 40px;

}
.fxs-p2{
	font-size: 32px;
	color: #fff;
	font-weight:bold;
	font-family:San Francisco Display;
	text-align: center;
	margin:0;
}
.fxs-czmm-mid{
	width:950px;
	height: 550px;
	background: #fff;
	opacity:1;
	position: absolute;
	bottom: 0;
	z-index: 4;
}
.fxs-czmm-mid-1,.fxs-czmm-mid-2,.fxs-czmm-mid-3{
	width: 670px;
	height: 50px;
	margin-bottom: 50px;
}
.fxs-czmm-mid-1a,.fxs-czmm-mid-2a,.fxs-czmm-mid-3a{
	width: 164px;
	height: 50px;
	background:url(../image/sly_03.png) no-repeat;
	background-size: 100%;
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
}
.fxs-czmm-mid-1b,.fxs-czmm-mid-2b,.fxs-czmm-mid-3b{
	width: 450px;
	height: 50px;
	float: right;
}
.fxs-czmm-mid-1b input,.fxs-czmm-mid-2b input{
	display: block;
	width: 450px;
	height: 46px;
	border:1px solid #ccc;
}
.fxs-czmm-mid-in{
	width: 670px;
	height: 290px;
	margin: 0 auto;
	margin-top: 20%;
}
.fxs-czmm-mid-in2{
	width: 670px;
	margin: 0 auto;
	margin-top: 20%;
}
.fxs-czmm-mid-3b input{
	display: block;
	width: 190px;
	height: 46px;
	border:1px solid #ccc;
	float: left;
	margin-right: 10px;
}
.fxs-czmm-mid-3b-span1{
	display: block;
	width: 190px;
	height: 48px;
	border:1px solid #ccc;
	float: left;
}
.fxs-czmm-mid-3b-span2{
	display: block;
/*	width: 20px;*/
	height: 48px;
	float: right;
	line-height: 50px;
	font-size: 16px;
	color: #ccc;
}
.fxs-czmm-mid-queding{
	width: 246px;
	height: 54px;
	background: url(../image/fxs-qd.png) no-repeat;
	margin: 0 auto;
	margin-bottom: 30px;
}
.fxs-czmm-mid-youjian{
	width: 296px;
	height: 65px;
	background: url(../image/fxs-yx.png) no-repeat;
	margin: 0 auto;
	margin-bottom: 50px;
}
.fxs-czmm-but-left{
	width: 310px;
	height: 110px;
	background: url(../image/fxs-bj.jpg) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	bottom:-50px;
	right:50px;
	z-index: 0;
}
.fxs-czmm-but-right{
	width: 435px;
	height: 78px;
	background: #1dd473;
	position: absolute;
	bottom:-20px;
	left:50px;
	z-index: 0;

}
.fxs-czmm-mid-quxiao{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: url(../image/fxs-quxiao.png) -2px -3px no-repeat;
	position: absolute;
	top: 10%;
	left: 10%;
}

body{
	overflow: auto;
}
body,p,pre,ul,li,ol,dl,dt,dd,h1,form,input,h3{
	margin: 0;
	padding:0;
    list-style: none;
}
.lgb_denglv{
    width: 953px;
    height: 574px;
    border:1px solid #10c8f0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -271px;
    margin-left: -476px;
    background: #EFEFEF;
}
.lgb_denglv1{
    width: 953px;
    height: 691px;
    border:1px solid #10c8f0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -271px;
    margin-left: -476px;
    background: #EFEFEF;
}
.lgb_bg{
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    height:100%;
    background: #000;
    opacity: 0.8;
}
.lgb_hydl {
    width: 560px;
    height: 189px;
    background: #10C8F0;
    position: absolute;
    top: -104px;
    margin-left: 196px;
    box-shadow: 1px 1px 18px 1px #195c6d;
    border: 1px solid #76706F;

}
.lgb_hydl span{
    display: block;
    color: white;
    font-family: 微软雅黑;
}

.lgb_welcome{
    margin-left: 180px;
    font-size: 48px;
    position: absolute;
    top: 45px;
    font-weight: bold;
    font-family: JHRuHeiZhong;


}
.lgb_interview{
    font-size: 32px;
    position: absolute;
    top: 108px;
    left: 210px;
    font-family: San Francsico;
    font-weight: bold;
}
.lgb_sy{
    width:660px;
    height:40px;
    text-align: right;
    line-height:40px;
    margin:0 auto;
    position: absolute;
    top:215px;
    left: 143px;
    padding-right: 20px;
    color:#C3C3C3;
    font-size: 18px;
}
.lgb_hang1,.lgb_hang2{
    width:680px;
    height: 50px;
    position: absolute;
    top:265px;
    left: 143px;
    float:left;
}

.lgb_hang2{
    margin-top:80px;
}
.lgb_date{
    display: inline-block;
    width: 146px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    background: url(../image/lgb_1.png) no-repeat;
    background-size: 146px 44px;
    color: #726028;
    font-size: 18px;
    float: left;
    margin-top: 3px;
    font-weight: weight ;
}
.lgb_dates{
    float: left;
    width: 498px;
    height: 48px;
    border: #e7e7e7 solid 1px;
    background: #fff;
    display: inline-block;
    margin-left: 24px;
    position: relative;
    font-size: 18px;
    color: #2e2e2e;
    box-shadow: 0 0 5px 3px #e1e1e1;
}
.lgb_dates input{
    width: 100%;
    height:100%;
    border:none;
    font-size: 18px;
}
.lgb_mm{
    width:660px;
    height:40px;
    text-align: right;
    line-height:40px;
    margin:0 auto;
    position: absolute;
    top:415px;
    left: 143px;
    padding-right: 20px;
    color:#C3C3C3;
    font-size: 18px;
}
.lgb_bz{
    width:297px;
    height:40px;
    text-align: right;
    line-height:40px;
    margin:0 auto;
    position: absolute;
    top:615px;
    left:223px;
    padding-right: 20px;
    color: #848484;
    font-size: 18px;
}
.lgb_span{
    width:300px;
    height:50px;
    margin:0 auto;
    margin-top:40px;
}
.lgb_img{
    width:297px;
    height:286px;
    margin:0 auto;
    margin-top:120px;
    overflow: hidden;
    position: relative;
 }
.lgb_img img{
    display: block;
    position: absolute;
    top:-70px;left:0;
}
input{
    border: 0;
    background-color: transparent;
}
.lgb-mfootl{
    width: 613px;
    height:32px;
    background: #006648;
    position: absolute;
    left:77px;
    bottom:-32px;
    box-shadow: 3px 3px 3px #005D66;

}
.lgb-mfoot2{
    width: 306px;
    height:22px;
    position: absolute;
    left:533px;bottom:-22px;
}
.lgb-mfoot2 img{
    width: 306px;
    height: 62px;
}
.lgb-send{
    position: absolute;
    right: 50%;margin-right:-127px;
    bottom: 70px;
}
.lgb-send{background:url(../image/lgb_bg.png);
     /*background-position:0 -449px;*/
     width:255px;
     height:55px;
 }

.yc_mianban{
	width: 953px;
	height: 869px;
	border:1px solid #10c8f0;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -224px;
	margin-left: -476px;
	background: #EFEFEF;
}
.yc_mask{
	width: 100%;
	position:fixed;
	top: 0;
	left: 0;
	height:100%;
	background: #000;
	opacity: 0.8;
}
.yc_jinji{
	width: 560px;
	height:189px;
	background: #10C8F0;
	position: absolute;
	top: -104px;
	margin-left: 196px;
	box-shadow: 1px 1px 18px 1px #195c6d;
	border:1px solid #76706F;
}
.yc_jinji span{
	display: block;
	color: white;
	font-family: 微软雅黑;
}
.yc_nin{
	font-size: 24px;
	font-weight: bold;
	margin-left: 27px;
	margin-top:8px;
	
}
.yc_jin{
	margin-left: 160px;
	font-size: 48px;
	position: absolute;
	top: 45px;
	font-weight: bold;

}
.yc_interview{
	font-size: 32px;
	position: absolute;
	top: 108px;
	left: 190px;
	font-family: San Francsico;
	font-weight: bold;
}
.yc_join{
	font-size: 24px;
	position: absolute;
	right: 35px;
	bottom: 10px;
	font-family: 微软雅黑;
	font-weight: bold;
}
.yc_hang1,.yc_hang2,.yc_hang3,.yc_hang4,.yc_hang5{
	width:680px;
	height: 50px;
	position: absolute;
	top:165px;
	left: 143px;
}
.yc_hang2{
	margin-top: 100px;
}
.yc_hang3{
	margin-top: 200px;
}
.yc_hang4{
	margin-top: 300px;
}
.yc_hang5{
	margin-top: 500px;
}
.yc_qiye{
	width:498px;
	height:50px;
	/*background: #fff;*/
	margin-left: 172px;

}
.yc_qiye input{
	width:100%;
	height:100%;
	background: #fff;
}
.yc_zone{
	width: 499px;
	height: 50px;
	position: absolute;
	left: 172px;
}
.yc-province,.yc-city{
	width: 240px;
	float: left;
	height: 100%;
	background: #ffffff;
	border: none;

}
.yc-province{
	margin-right: 15px;
}
.yc_date{
	display: inline-block;
	width: 146px;
	height: 44px;
	text-align: center;
	line-height: 44px;
	background: url(../image/sly_03.png) no-repeat;
	background-size: 146px 44px;
	color: #726028;
	font-size: 18px;
	float: left;
	margin-top: 3px;
}
.yc_datey,.yc_datem{
	float: left;
	width: 233px;
	height: 48px;
	border: #e7e7e7 solid 1px;
	background: #fff;
	display: inline-block;
	margin-left: 24px;
	position: relative;
	
};
.yc_datem{
	margin-left: 30px;
}
.sanjiao{
	position: absolute;
	right: 17px;
	top: 20px;
}
.yc_dates{
	float: left;
	width: 498px;
	height: 48px;
	border: #e7e7e7 solid 1px;
	background: #fff;
	display: inline-block;
	margin-left: 24px;
	position: relative;
	font-size: 18px;
	color: #2e2e2e;
	
}
.wxm-mfootl{
	width: 613px;
	height:32px;
	background: #006648;
	position: absolute;
	left:77px;
	bottom:-32px;
	box-shadow: 3px 3px 3px #005D66;

}
.wxm-mfoot2{
	width: 306px;
	height:22px;
	position: absolute;
	left:533px;bottom:-22px;
}
.wxm-mfoot2 img{
	width: 306px;
	height: 62px;
}
.yc_shi{
	font-size: 18px;
	color: #2e2e2e;
}
.yc-send{
	position: absolute;
	left: 353px;
	bottom: 70px;
}


input{
	border: 0;
	background-color: transparent;
}
.sly-yellow,.sly-blue,.sly-green{
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 39px;
	font-family: "微软雅黑";
}
/*查看简答题按钮*/
.wwj-checkjdt{
	width: 269px;
	height: 57px;
	background-image: url(../image/btn-huizong.png);
	background-position: 0 -505px;
	background-repeat: no-repeat;
}
/*确定按钮，蓝色*/
.wwj-okblue{
	width: 255px;
	height: 56px;
	background-image: url(../image/btn-huizong.png);
	background-position: 0 -618px;
	background-repeat: no-repeat;
}
/*确定按钮，绿色*/
.wwj-okgreen{
	width: 260px;
	height: 57px;
	background-image: url(../image/btn-huizong.png);
	background-position: 0 -562px;
	background-repeat: no-repeat;
}
/*转发简历*/
.yc-relay{background:url(../image/btn-huizong.png);
			background-position:0 -336px;
			width:270px;
			height:57px;
}
/*下载简历*/
.yc-down{background:url(../image/btn-huizong.png);
			background-position:0 -393px;
			width:258px;
			height:55px;
}
/*发送邀请*/
.yc-send{background:url(../image/btn-huizong.png);
		 background-position:0 -449px;
		  width:255px;
		  height:55px;
}
.zlf_queren{
	width:255px;
	height:56px;
	background: url(../image/btn-huizong.png) 0 0;
}
.zlf_later{
	width:359px;
	height:56px;
	background: url(../image/btn-huizong.png) 0  -56px;
}
.zlf_start{
	width:359px;
	height:56px;
	background: url(../image/btn-huizong.png) 0 -112px;
}
.zxm-close{
	width:255px;
	height:56px;
	background: url(../image/btn-huizong.png) 0 -168px;
}
.zxm-submit{
	width:255px;
	height:56px;
	background: url(../image/btn-huizong.png) 0  -224px;
}
.zxm-save{
	width:255px;
	height:56px;
	background: url(../image/btn-huizong.png) 0 -336px;
}
.sly-yellow{
	width: 133px;
	height: 39px;
	background: url(../image/btn-huizong.png )-360px 0px;
}
.sly-blue{
	width: 133px;
	height: 39px;
	background: url(../image/btn-huizong.png ) -360px -39px;
}
.sly-green{
	width: 133px;
	height: 39px;
	background: url(../image/btn-huizong.png ) -360px -78px;
}
/*//查看入职邀请   点击之后的*/
.yyb-checkruzhi{
	border:0;
	padding:0;
	color: #343434;
	font-size: 16px;
	width:143px;height:51px;
	padding-bottom:13px;
	padding-right:4px;
	background:url(../image/yyb-checkruzhi.png);
}
/*私聊页面的发送按钮*/
.yyb-send{
	border:0;
	padding:0;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 55px;
	width:198px;height:55px;
	background:url(../image/yyb-send.png);
}
/*私聊页面的发送按钮   点击之后的*/
.yyb-sendclick{
	border:0;
	padding:0;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 55px;
	width:198px;height:55px;
	background:url(../image/yyb-sendclick.png);
}