body{
	overflow: auto;
}
body,p,pre,ul,li,ol,dl,dt,dd,h1,form,input,h3{
	margin: 0;
	padding:0;
    list-style: none;
}
a{
	text-decoration: none;
}
.ljt_mianban{
	width: 953px;
	height: 726px;
	border:1px solid #10c8f0;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -375px;
	margin-left: -476px;
	background: #EFEFEF;
}
.ljt_mask{
	width: 100%;
	position:fixed;
	top: 0;
	left: 0;
	height:100%;
	background: #000;
	opacity: 0.8;
}
.ljt_jinji{
	width: 560px;
	height:189px;
	background: #10C8F0;
	position: absolute;
	top: -104px;
	left: 196px;
	/*margin-left: 196px;*/
	box-shadow: 1px 1px 18px 1px #195c6d;
	border:1px solid #76706F;
	text-align: center;
	line-height: 139px;
	font-weight: 800px;
	font-family: "方正粗圆繁体"
}

.ljt-1{
	/*margin-top: -20px;*/
	font-size: 48px;
	color: #fff;
}
.ljt-2{
	font-size: 36px;
	color: #fff;
	position: absolute;
	display: block;
	top:60px;left: 210px;
}
.ljt-xiaozi{
	width: 174px;
	height: 37px;
	position:absolute;
	right:149px;top: 210px;
	/*background: red;*/

}
.ljt-xiaozi a{
	font-size: 18px;
	font-family: "微软雅黑";
	color: #000;

}
.ljt-zhongkuang{
	width: 677px;
	height: 308px;
	position: absolute;
	left: 144px;
	top:230px;
	/*background: red;*/
}
.ljt-s{
	width: 100%;
	height: 56px;
	/*background: red;*/
	margin-top: 25px
}
.ljt-s1{
	width: 152px;
	height: 46px;
	text-align: center;
	line-height: 55px;
	font-size: 18px;
	background:url(../image/fxs-jlt.png) no-repeat;
	background-position: -355px 5px;
	float: left;
}
.ljt-shu{
	width: 498px;
	height: 48px;
	margin-left: 20px;
	border: 0px;
	float: left;
	box-shadow: 0 5px 6px 0 #b3b3b3;
}
.ljt-s2{
	width: 498px;
	height: 48px;
	margin-left: 20px;
	border: 0px;
	float: left;
	/*box-shadow: 0 5px 6px 0 #b3b3b3;*/

}
.ljt-in{
	width: 236px;
	height: 48px;
	float: left;
	border: 0px;
		box-shadow: 0 2px 6px 3px #b3b3b3;

}
.ljt-in2{
	width: 236px;
	height: 48px;
	float: right;
	border: 0px;
		box-shadow: 0 2px 6px 3px #b3b3b3;
		text-align: center;
		font-size: 18px;

}
.ljt-cc{
	width: 249px;
	height: 57px;
	position: absolute;
	right: 147px;
	bottom: 80px;
	/*background: red;*/
	background: url(../image/ljt-zhuce.png) no-repeat;
}