ul {
    list-style: none;
    padding: 0;
}
.fxl-head {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
.fxl-banner{
    width: 100%;
    height: 646px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.fxl-sbox {
    width: 1920px;
    height: 646px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    background: url(../image/fxl-bannerbg.png);
}
.fxl-wz1{
    position: absolute;
    left: 500px;
    top:213px;
    width: 401px;
    height:67px;
    background: url(../image/fxl-wz1.png);
}
.fxl-wz2{
    width: 881px;
    height:116px;
    position: absolute;
    left: 500px;
    top:294px;
    background: url(../image/fxl-wz2.png);
}
.fxl-shadow{
    width: 100%;height:501px ;
    background: url(../image/fxl-banner-mask.png);
    position: absolute;
    bottom: 0;
    left:0;
}
/*中间*/
.fxl-doc{
    width: 1200px;
    height:923px;
    margin: 0 auto;
    background: #fff;
   position: relative;
}
/*左边*/
.fxl-left{
    width: 336px;
    height: 870px;
    position: absolute;
    left:0;
    top:-181px;
    background:#fff;
    box-shadow: 0 0 10px 3px #ccc;
}
.fxl-top{
    width: 100%;
    height: 424px;
    position: relative;


}
.fxl-top1{
    width: 100%;
    height: 10px;
    background:#E8BC0F;
}
.fxl-moban{
    position: absolute;
    left: -9px;
    top:40px;
    width: 350px;height: 101px;
    background: url(../image/fxl-m.png);
}
.fxl-top2{
    background:#fff;
    margin-top: 160px;
    width: 100%;
    height:243px;
}
.fxl-m{
    width: 100%;
    height: 22px;
    background:#F1F1F1 ;
}
.fxl-item{
    width: 280px;
    height: 35px;
    margin-left: 28px;
    margin-top: 30px;
    /*background: red;*/
    font-size: 26px;
    color: #4d4d4d;
    line-height:35px;

}
.fxl-item span{
    float: right;
}

.fxl-botton{
    width: 100%;
    height: 424px;
    background: #fff;
    position: relative;
}
.fxl-tj{
    width: 357px;
    height: 100px;
    background: url(../image/fxl-rec.png);
    margin-left: -15px;
}
.fxl-wenzi{
    background:#fff;
    margin-top: 20px;
    width: 100%;
    height:243px;
}
/*右边*/
.fxl-right{
    width: 850px;
    height: 870px;
    position: absolute;
    left:356px;
    top:-181px;
    background:#fff;
    box-shadow: 0 0 10px 3px #ccc;
}
.fxs-right-tk{
    width: 390px;
    height: 34px;
    margin-top: 40px;
    margin-left: 50px;
    background: url(../image/srx_bs0-5.png) no-repeat;
}
.fxs-right-tm{
    width: 143px;
    height: 23px;
    margin-top: 20px;
    margin-left: 50px;
    background: url(../image/srx_bs0-5.png) 0 -33px no-repeat;

}
.fxs-right-jctm{
/*    margin-top: 20px;*/
    margin-left: 50px;
    width:736px;
    height: 44px;
    color: #000;
    font-size: 18px;
    font-family:微软雅黑;
    border-bottom: 1px solid #ccc;
    line-height: 44px;
}
.fxs-right-tmm{
    width:736px;
    height:auto;
}
.fxs-right-ul1{
    width:736px;
    height: 236px;
    margin-left: 50px;
/*    background: #000;*/
}
.fxs-right-ul1 li{
    margin-bottom: 5px;
}
.fxs-right-ul1p{
    width: 736px;
    height: 42px;
    display: block;
    color: #888787;
}
.fxs-right-ul1pbj{
    width: 26px;
    height: 26px;
    background: url(../image/srx_bs0-5.png) -26px -115px no-repeat;
    float: left;
    margin-right: 10px;
}
.fxs-right-ul1ptm{
    float: left;
    font-size: 18px;
}
.fxs-right-ul2{
    width: 736px;
    height: 36px;
    display: block;
    line-height: 36px;
    margin-left: 20px;
}
.fxs-right-ul2 li{
    display: block;
    float: left;
    margin-right: 60px;
    margin-left: 0;
    font-size: 18px;
    color: #888787;
}
.fxs-right-ul2 li{
    margin-left: 20px;
}
.fxs-right-btn{
    width: 172px;
    height: 60px;
    background: url(../image/srx_bs0-5.png) 2px -55px no-repeat;
    position: absolute;
    bottom: 10px;
    right: 30px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}
.fxs-right-btn1{
    width: 172px;
    height: 60px;
    background: url(../image/srx_bs0-5.png) 2px -55px no-repeat;
    position: absolute;
    bottom: 10px;
    right: 220px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    
}
.fxs-right-btn a,.fxs-right-btn1 a{
    text-decoration: none;
    color: #fff;
    display: block;
    width: auto;
    height: auto;

}