ul {
    list-style: none;
    padding: 0;
}
.fxl-head {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
.fxl-banner{
    width: 100%;
    height: 646px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.fxl-sbox {
    width: 1920px;
    height: 646px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    background: url(../image/fxl-bannerbg.png);
}
.fxl-wz1{
    position: absolute;
    left: 500px;
    top:213px;
    width: 401px;
    height:67px;
    background: url(../image/fxl-wz1.png);
}
.fxl-wz2{
    width: 881px;
    height:116px;
    position: absolute;
    left: 500px;
    top:294px;
    background: url(../image/fxl-wz2.png);
}
.fxl-shadow{
    width: 100%;height:501px ;
    background: url(../image/fxl-banner-mask.png);
    position: absolute;
    bottom: 0;
    left:0;
}
/*中间*/
.fxl-doc{
    width: 1200px;
    height:923px;
    margin: 0 auto;
    background: #fff;
   position: relative;
}
/*左边*/
.fxl-left{
    width: 336px;
    height: 870px;
    position: absolute;
    left:0;
    top:-181px;
    background:#fff;
    box-shadow: 0 0 10px 3px #ccc;
}
.fxl-top{
    width: 100%;
    height: 424px;
    position: relative;


}
.fxl-top1{
    width: 100%;
    height: 10px;
    background:#E8BC0F;
}
.fxl-moban{
    position: absolute;
    left: -9px;
    top:40px;
    width: 350px;height: 101px;
    background: url(../image/fxl-m.png);
}
.fxl-top2{
    background:#fff;
    margin-top: 160px;
    width: 100%;
    height:243px;
}
.fxl-m{
    width: 100%;
    height: 22px;
    background:#F1F1F1 ;
}
.fxl-item{
    width: 280px;
    height: 35px;
    margin-left: 28px;
    margin-top: 30px;
    /*background: red;*/
    font-size: 26px;
    color: #4d4d4d;
    line-height:35px;

}
.fxl-item span{
    float: right;
}

.fxl-botton{
    width: 100%;
    height: 424px;
    background: #fff;
    position: relative;
}
.fxl-tj{
    width: 357px;
    height: 100px;
    background: url(../image/fxl-rec.png);
    margin-left: -15px;
}
.fxl-wenzi{
    background:#fff;
    margin-top: 20px;
    width: 100%;
    height:243px;
}






/*右边*/
.fxl-right{
    width: 850px;
    height: 870px;
    position: relative;
    left:356px;
    top:-181px;
    background: #fff;
}
.fxl-ti{
    width:733px;
    height:750px;
    margin-left:47px;
    background:#fff;
    margin-top:40px;
}
.fxl-tkg1{
    width:390px;
    height:32px;
    /*margin-top:34px;*/
    background: url(../image/fxl-t.png);
}
.fxl-title{
    width:733px;
    height:724px;
    /*background:#ccc;*/
}
.fxl-subject{
    width:144px;
    height:35px;
    margin-top: 30px;
    /*margin-bottom: 25px;*/
}
.fxl-timu{
    font-size:24px;
    color:#3DC75D;
    font-weight:bold;
}
.fxl-sub{
    font-size:16px;
    color:#FFCB00;
}
/*UI基础知识*/
.fxl-bao{
    width:733px;
    height:300px;
}
.fxl-ui{
    display:inline-block;
    width:733px;
    height:48px;
    font-size: 18px;
    margin-top:10px;
    font-weight: bold;
}
.fxl-hr{
    width:733px;
    height:1px;
    background:#E1E1E1;
}
.fxl-what{
    width:auto;
    height:210px;
    margin-top:10px;
    margin-left:20px;
    color:#888787;
    margin-bottom:20px;
}
.fxl-nei{
    width:auto;
    height:50px;
    float:left;
    margin-bottom:30px;
}

.fxl-answer li{
    width:120px;
    height:20px;
    float:left;
    margin-left:30px;
    list-style:none;
    margin-top:10px;
}
.fxl-jr{
    display: block;
    width: 180px;
    height: 70px;
    float: right;
    margin-top: 10px;
    background: url(../image/fxl-jr.png);
}






.ljt-c1{
    width:600px;
    height: 37px;
    /*background: red;*/
    position: absolute;
    top:28px;left: 50px;
}
.ljt-shang{
    height: auto;
    width: auto;
    margin-top: -5px;
}
.ljt-bishi{
    width: 44px;
    height: 24px;
    font-size: 20px;
    color: #96855c;
    font-family: "方正粗圆繁体";
  cursor: pointer;

}
.ljt-zhizhu{
    color: #fad986;
    width: 145px;
    height: 37px;
    position: absolute;
    left: 40px;top:0px;
    font-size: 35px;
 font-family: "方正粗圆繁体";
  cursor: pointer;

}
.ljt-biancheng{
    width: 62px;
    height: 23px;
    font-family: "微软雅黑";
    font-size: 20px;
    color:#000;
    position: absolute;
    left: 185px;top:10px;
     cursor: pointer;

}
.ljt-gang{
    width: 2px;
    height:30px;
    background:  #fad986;
    border-radius: 50px;
    position: absolute;
    left: 260px;top: 2px;
     cursor: pointer;

}
.ljt-ying{
    width: 188px;
    height:11px;
    position: absolute;
    right:130px;
    top:2px;
     font-family: "方正粗圆繁体";
    font-size: 15px;
    color:#000;
}
.ljt-ying1{
    width: 188px;
    height:11px;
    position: absolute;
    right:130px;
    top:20px;
     font-family: "方正粗圆繁体";
    font-size: 18px;
    color: #fad986;
}
.ljt-xian{
    width: 740px;
    height: 3px;
  background: #000;
  border-radius: 50px;
    position: absolute;
    top: 50px;left: 0px; 
}